
.session-edge {
margin-top: 120px;
margin-bottom: 140px;
font-size: 14px;
}
.min-inner {
width: 726px;
}
.inner, .min-inner {

margin: 0 auto;
padding: 0;
}
.big-title {
margin: 0 0 20px;
font-size: 36px;
}
.session-edge{
font-size: 14px;	
	}
	.title-description {
margin: -10px 0 24px;
color: #999;
}
.auth-big, .auth-small {
display: inline-block;
margin-right: 10px;
border: 1px solid #CCC;
border-bottom-color: #BBB;
padding: 15px;
background-color: white;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
font-size: 20px;
line-height: 1;
color: #666;
}
.auth-big img, .auth-small img {
vertical-align: text-bottom;
margin-right: 10px;
width: 24px;
height: 24px;
}
.sfid-login {
color: #999;
}
.sfid-login p {
	padding: 10px;
display: inline-block;
margin-right: 8px;
margin-bottom: 10px;
width: 290px;
}
input[type="checkbox"], input[type="radio"] {
box-sizing: border-box;
padding: 0;
}
label.hid {
position: absolute;
left: -9999em;
}

.text-34 {
font-size: 16px;
padding: 9px 6px;
}

