  {% if not userinfo %}
     <aside class="greeting">
         <h3>这是什么网站？</h3>
         <p>这是一个专业面向开发者的技术问答社区，你可以在这里提出任何与开发相关的问题，并得到同行的解答和评价。无需注册即可登录。</p>
         <p class="hor-tabs">
          <a href="/user/login">立即登录</a>
         <i></i>
         <a href="/about">了解更多</a>
         </p>
     </aside>     
{% end %}

{% if  userinfo %} 
       <aside id="my-account" class="clearfix">
             
            {% if  userinfo.pic_url %} 
                     <div class="my-avatar avatar-64" style="background: url({{ static_url("") }}{{ userinfo.pic_url }}) no-repeat center center">
                             <a href="/update"></a>
                    </div>
             {% end %}
        
            <h3><a href="/u/{{ userinfo.urlname }}" >{{  current_user }}</a></h3>
            <p>
                 <a href="/u/asycs/rank">-4 声望</a> &bull;
                 <a href="/u/asycs/awards">0 徽章</a>
            </p>
            <p></p>
             {% if not  userinfo.pic_url %} 
	            <a class="info" href="/user/settings">您还没有上传头像, <strong>立即上传</strong></a>
	            {% end %}

      <aside class="box follow-tags">
       <a href="/following" class="i-more tip-pop right" data-tip="s:更多">更多</a>
       <h3>关注 <a href="/tags/following">{{ len(tags) }}</a> 个标签</h3>
      <ul class="tag-ranking-list show-pop-tag">
              {% for tag in tags %}
                   <li>
                    <a  href="/t/{{ tag.name }}" class="tag tag-img" style="background-image: url({{ static_url("") }}{{ tag.pic_url }});">{{ tag.name }}</a>
                   </li> 
              {% end %}  
            
       </ul>
     
</aside>

      <aside class="box">
            <a href="http://segmentfault.com/users/following" class="i-more tip-pop right" data-tip="s:更多">更多</a>
            <h3>关注 <a href="/users/following">{{ len(userinfo.follow) }}</a> 人</h3>
           {% for fo in userinfo.follow %}
               <a class="tip-pop" href="/u/{{ fo.urlname }}" data-tip="">
                   <img class="avatar-24" src="{{ static_url("") }}{{ fo.pic_url }}" alt="{{ fo.name }}" />
               </a>
            {% end %}
       </aside>        
        
<aside class="box">
        <a href="/user/timeline" class="tip-pop i-more right" data-tip="s:更多">更多</a>
          <h3>新鲜事</h3>
          <ul class="timestream show-pop-tag">
           <li class="nothing">暂时没有新鲜事哦<br />关注了别人就会有新鲜事</li>
           </ul>
</aside>
 {% end %}               
        