
  <aside class="box">
            <div class="d-action">
              {% if  current_user  %}
                 {% if not al %}
                     <a href="###" id="followtag" data-uid={{ taginfo.name }} class="btn-medium follow">加关注</a>       
                 {% end %}
                  {% if al%}
                   <a href="###" id="unfollowtag" data-uid={{ taginfo.name }} class="btn-medium follow">取消关注</a>
                                 {% end %}
                {% end %}
            </div>
            <hr class="space" />
            <h3>
                <a href="/t/phonegap/followers">{{ count }}</a> 人关注了该标签
            </h3>
               {% for user in users %}
                  <a class="tip-pop" href="/u/{{ user.urlname }}" title="{{ user.name }}" data-tip="{{ user.name }}">
                      <img class="avatar-24" src="{{ static_url("") }}{{ user.pic_url }}" alt="{{ user.name }}" />
                   </a>            
                   {% end %}     
                    
   </aside>
   <aside class="box">
            <h3>30 天贡献排名</h3>
            <ol class="ranking-list">
                <li><a href="http://segmentfault.com/u/tina">
                <img class="avatar-24" src="http://s.segmentfault.com/img/user-24.png" alt="">Tina</a>
                <span>1 声望</span></li>
              </ol>
  </aside>