<h1 class="q-title" >
           <span>{{ post.title }}</span>
</h1>
<div id="question">
           <article class="q-post">
                       <div class="post-cell">
                              <a href="###" class="post-big-vote"><span>0</span>赞 </a>
                              <a href="###" class="post-big-hate tip-pop" data-tip="w:该投票为匿名" original-title="">踩</a>
                              <a href="###" class="post-fav tip-pop" data-tip="w:关注并收藏" original-title="">标记</a>
                       </div>
                       <div class="fmt post-content">
                               <p>{{ post.content }}</p>
                       </div>
                       <div class="post-foot">
                            <table class="post-parter">
                                     <tbody>
                                             <tr>
                                                 <td ><a href="" ></a></td>
                                                 <td class="post-author"><img src="" alt="" ></td>
                                             </tr>
                                     </tbody>
                            </table>
                       <div></div>
                       </div>
                <div class="clear"></div> 
           </article>
</div>


 {% if post.comments %}
    <div id="answer"> 
         <div class="hor-tabs right">
                 <a class="current by-votes" >得票数</a>
                 <i></i>
                 <a href="#" class="by-created" >时间先后</a>
         </div>
     
           {% for answer in post.comments %}
                                     {% include "answers.html" %}
          {% end %}
      <div class="clear"></div> 
   </div>
  {% end %}
<div id="writer-answer ">
        <h2 class="small-title">撰写答案</h2>   
        <form method="post" action="/question/answer">
                <div class="editor">
                                    <a href="#" title="粗体文本 (快捷键 Ctrl+B)" class="btnBold"></a>
                                    <a href="#" title="斜体文本 (快捷键 Ctrl+I)" class="btnItalic"></a> 
                                    <a href="#" title="代码文本 (快捷键 Ctrl+D)" class="btnCode"></a>
                                    <i></i>
                                    <a href="#" title="引用段落 (快捷键 Ctrl+Q)" class="btnQuote"></a>
                                    <a href="#" title="代码 (快捷键 Ctrl+K)" class="btnPre"></a>
                                    <a href="#" title="标签链接 (快捷键 Ctrl+T)" class="btnTag"></a>
                                    <i></i>
                                    <a href="#" title="副标题 (快捷键 Ctrl+H)" class="btnHeading"></a>
                                    <a href="#" title="分割线 (快捷键 Ctrl+R)" class="btnHr"></a>
                                    <a href="#" title="普通列表 (快捷键 Ctrl+U)" class="btnUl"></a>
                                    <a href="#" title="数字列表 (快捷键 Ctrl+O)" class="btnOl"></a>
                                    <i></i>
                                    <a href="#" title="链接 (快捷键 Ctrl+L)" class="btnLink"></a>
                                   <a href="#" title="图片 (快捷键 Ctrl+G)" class="btnImg"></a>
                                   <a href="#" title="打开高级编辑器" class="btnAdvance right"></a>
                 </div>
             <div class="p">
                    <label for="ans-text" class="hid">答案内容</label>
                          <textarea id="ans-text" class="textarea-14" 
                          rows="10" autocomplete="off" spellcheck="false" data-advanced="0" name="content">
                          </textarea>
                    <span class="resize"></span>
                    <div class="write-answer-notice boot-arrow-bl hidden">
                       <div><h3>请确认知道答案后再回答</h3>
                          <p>您必须保证自己的答案经过检验，不负责任的猜测性回答会浪费大家的时间。不要提交没有意义的答案，这对所有人都没有帮助</p>
                       </div><div>
                    <h3>正确使用撰写答案功能</h3>
                     <ul>
                       <li>如有信息追问提问者，请使用评论功能</li>
                       <li>这不是论坛，不需要在答案中表达态度</li>
                       <li>尽量使用格式化语言对答案排版，<a href="http://segmentfault.com/faq#q6" target="_blank">了解更多</a></li>
                     </ul></div><a href="#" class="i-cancel right">关闭</a></div>
              </div>
                
                <div class="form-action">
                    <span class="left">
                         <input type="checkbox" id="check-weibo" name="weibo" value="1" checked=""> 
                            <label for="check-weibo">转发到新浪微博</label>
                    </span>
                    <input type="submit" class="btn btn-big" value="提交答案">
                    <input type="hidden" value="{{ post.id }}" name="id">
                
                </div>
                <div class="fmt preview"><p></p></div>
         </form>
          
</div>
