{% extends "base.html" %}
 
{% block content-main %}
     <div class="tab-nav">
            <a href="/" class="current">问题</a>
            <a href="/tags">标签</a>
            <!-- <a href="http://segmentfault.com/users">人物</a>
            <a href="http://segmentfault.com/badges">徽章</a> -->
            <div class="hor-tabs sub-tab">
                                            <a class="current" href="http://segmentfault.com/">最新的</a>
                                                            <a href="http://segmentfault.com/hottest">热门的</a>
                                                            <a href="http://segmentfault.com/unanswered">未回答的</a>
                                                            <a href="http://segmentfault.com/bookmarked">我标记的</a>
                                        </div>
       </div>                   
         {% for post in posts %}
          {% include "post.html" %}
             {% end %} 
              <div class="pagenav"><a href="http://segmentfault.com/newest?page=1" class="current">1</a>
              <a href="http://segmentfault.com/newest?page=2">2</a>
              <a href="http://segmentfault.com/newest?page=3">3</a>
              <a href="http://segmentfault.com/newest?page=4">4</a>
              <a href="http://segmentfault.com/newest?page=5">5</a>
              <span>&hellip;</span><a class="next" href="http://segmentfault.com/newest?page=2">下一页</a></div>  
{% end %}

{% block content-secondary %}
                       {% include "home-side.html"%}
                       
{% end %}