 <article class="post" id="q-1010000000141416">
     <div class="status">
        <span class="answer answered" title="4 个答案">4</span>
        <span class="vote" title="0 个赞">0</span>
     </div>
   <div class="p-summary">
     <h2><a href="http://segmentfault.com/q/1010000000141416" title="{{ question.title }}">{{ question.title }}</a></h2>
     <div class="meta">
     <span class="views">66 次浏览</span>
     <ul class="meta-tags">
           <li><a data-tid="1040000000089392" href="http://segmentfault.com/t/linux">linux</a>, </li>
           <li><a data-tid="1040000000089686" href="http://segmentfault.com/t/bash">bash</a>, </li>
           <li><a data-tid="1040000000089669" href="http://segmentfault.com/t/shell">shell</a></li>
     </ul>
    <span class="datetime">2天前</span>
    </div>
  </div>
 </article>