{% extends "base.html"%}

{% block fullpage %}

<div class="min-inner session-edge">
    <h2 class="big-title">注册</h2>
    <p class="title-description">您正在注册本站独立帐号，我们推荐您使用第三方帐号登录</p>

    <form class="session-form" action="/user/register" method="post">
        <div class="session-aside">
                  如果您有下列网站帐号，可使用这些帐号<a href="http://segmentfault.com/user/login">直接登录</a>，无需注册<br />
            <img src="{{static_url("pic/auth-google.png")}}" alt="Google" />
            <img src="{{static_url("pic/auth-github.png")}}" alt="Github" />
            <img src="{{static_url("pic/auth-weibo.png")}}" alt="新浪微博" />
            <img src="{{static_url("pic/auth-qq.png")}}" alt="腾讯微博" />
        </div>
        <p>
            <label for="mail" class="hid">Email 地址</label>
            <input type="email" name="email" placeholder="Email 地址"   value="" class="text-34" required />
                    </p>
        <p>
            <label for="password" class="hid">登录密码</label>
            <input type="password" name="password" placeholder="登录密码" class="text-34" required />
        </p>
        <p>
            <label for="name" class="hid">常用昵称或真名</label>
            <input type="text" name="name" maxlength="32" placeholder="常用昵称或真名" value="" class="text-34" required />
                    </p>
        <div class="form-action">
            <span class="left">您将同意并接受<a href="http://segmentfault.com/license" target="_blank">《服务条款》</a></span>
            <input type="submit" class="btn btn-big" value="注册" />
        </div>
    </form>
  </div>
{% end %}