 {% extends "basepro.html"%} 
 
{% block content-main %}
 <div id="tag-detail" class="d-card">
            <div class="tag-detail-img">
                <img class="big-tag-img" src="{{ static_url("") }}{{ taginfo.pic_url }} " alt="{{ taginfo.name }}" />
                            </div>
            
            <h1>
               {{ taginfo.name }}   <span class="quick-action hidden">
                                </span>
            </h1>

            <div class="excerpt">
                <p>    {{ taginfo.introduce }} 
                <a href="http://segmentfault.com/t/phonegap/info">(详细...)</a></p>

             </div>
      <div class="clear"></div> 
 </div><!-- end #tag-detail -->
        
        <div class="subhead">
            <form class="sub-search left" action="http://segmentfault.com/t/phonegap/search">
                <label for="text" class="hid">在标签下搜索</label>
                <input type="text" name="q" autocomplete="off" holder="在标签下搜索" class="text-27 input-search" value="" />
            </form>
            <nav class="hor-tabs right">
                <a class="current" href="http://segmentfault.com/t/phonegap">最新的</a>
                <i></i>
                <a href="http://segmentfault.com/t/phonegap/accepted">已完结的</a>
                <i></i>
                <a href="http://segmentfault.com/t/phonegap/unanswered">未回答的</a>
                
            </nav>
              <div class="clear"></div> 
        </div><!-- end .subhead -->

       <div id="content">
          <article class="post" id="q-1010000000140529">
             <div class="status">
                    <span class="answer" title="0 个答案">0</span>
                    <span class="vote" title="0 个投票">0</span>
             </div>
             <div class="p-summary">
                  <a class="author tip-pop" href="http://segmentfault.com/u/tina" title="Tina" data-tip="n:Tina <cite>&bull;</cite> <strong>1</strong>"><img class="avatar-32" src="http://s.segmentfault.com/img/user-32.png" alt="Tina" /></a>
                  <h2><a href="http://segmentfault.com/q/1010000000140529" title="用PhoneGap开发Android应用时如何调用通过NDK编译出来的动态链接库里的函数">用PhoneGap开发Android应用时如何调用通过NDK编译出来的动态链接库里的函数</a></h2>
                  <div class="meta">
                  <span class="views">34 次浏览</span>
                  <ul class="meta-tags">
                          <li>
                               <a data-tid="1040000000089658" href="http://segmentfault.com/t/android">android</a>, 
                            </li>
                          <li>
                                <a data-tid="1040000000115193" href="http://segmentfault.com/t/phonegap">phonegap</a>
                          </li>
                  </ul>
                  <span class="datetime">11月14日</span>
                 </div>
              </div>
           </article>
           <article class="post" id="q-1010000000125839">
                <div class="status">
                    <span class="answer" title="0 个答案">0</span>
                    <span class="vote" title="0 个投票">0</span>
                </div>
               <div class="p-summary">
                    <a class="author tip-pop" href="http://segmentfault.com/u/cashlee" title="CashLee" data-tip="n:CashLee <cite>&bull;</cite> <strong>18</strong>"><img class="avatar-32" src="http://sfault-avatar.b0.upaiyun.com/392/971/3929711083-1030000000124219_small" alt="CashLee" /></a>
                    <h2><a href="http://segmentfault.com/q/1010000000125839" title="使用Cordova 2.1开发IOS6应用，无法修改Launch Image和Icon">使用Cordova 2.1开发IOS6应用，无法修改Launch Image和Icon</a></h2>
                     <div class="meta">
                           <span class="views">142 次浏览</span>
                              <ul class="meta-tags">
                                <li>
                                <a data-tid="1040000000089442" href="http://segmentfault.com/t/ios">ios</a>,                             </li>
                                <li>
                                <a data-tid="1040000000115193" href="http://segmentfault.com/t/phonegap">phonegap</a>,                             </li>
                                <li>
                                <a data-tid="1040000000089579" href="http://segmentfault.com/t/xcode">xcode</a>                            </li>
                              </ul>
                            <span class="datetime">10月9日</span>
                    </div>
                 </div>
            </article>
             
            <div class="pagenav">
            <a href="http://segmentfault.com/t/phonegap/newest?page=1" class="current">1</a>
            </div> 
            </div>      
 {% end %}
 
 
 {% block content-secondary %}
        {% module TagSide(taginfo,al) %}
 {% end %}