 <article class="post" id="a-1020000000136054">
          <div class="post-big-vote">
                    <span>0</span>赞
          </div>
          <div class="p-summary">
               <h2><a href="/q/1010000000126778#a-1020000000136054" >{{ answer.title }}</a></h2>
               <div class="p-excerpt">
                       <p>  {{ answer.content }}
                        <a href="/q/{{ answer.id }}" class="readmore">
                                                阅读全部</a></p>
               </div>
         </div>
 </article>